[Unit]
Description=Podder networking for %I
Wants=network-online.target
Requires=podder@.service
After=network-online.target podder@.service

[Service]
Restart=on-failure
ExecStart=%h/.local/bin/podder network %I

[Install]
WantedBy=default.target