# Put this file in
#   ~/.config/systemd/user
# and then use
#   systemctl --user start/enable podder@<layer>.service
# to manage an existing layer.
#
# Notice that your systemd unit will be tied to a login session unless you
# enable lingering:
#   loginctl enable-linger <username>

[Unit]
Description=Podder %I
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=%h/.local/bin/podder start %I
KillMode=mixed

[Install]
WantedBy=default.target
